.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.home{
  .banner{
    display: flex;
  }
  img{
   height: 340px;
   width: 100%;
   object-fit: cover;
  }
  .tri{
    // border:1px solid black;   
    height: 302px;
    width: 352px;
    position: absolute;
    margin-left: 71px;
    margin-top: 21px;
    background-color:white;
    border-radius:5px;
   
  }
  .article-container{
    width: 1243px;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    margin:0 auto;
  }
  .articles{
 
  img{
    height: 327px;
    width: 195px;
    object-fit: cover;
  }
}
}

.article-Unique-container{
  width: 1243px;
  justify-content: space-around;
  display: flex;
  margin: 0 auto;
}