@import "./assets/style/payment.scss";
@import "./assets/style/avatar.scss";
@import "./assets/style/buttons.scss";
@import "./assets/style/header.scss";
@import "./assets/style/home.scss";
@import "./assets/style/form.scss";



.article-Unique-container{
  width: 1243px;
  justify-content: space-around;
  display: flex;
  margin: 0 auto;
}



.title{
  margin-left: 5%;
  font-size: 24px;
  line-height:32px;
  color:#111111;
}


